@import '../../theme/core.scss';

.root {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $light-blue;
  height: '100vh';
}

.container {
  background-color: $light-blue;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(50);
}

.greeting {
  color: white;
  font-size: rem(16);
  position: absolute;
  top: rem(32);
  right: rem(32);
}

.title {
  color: white;
  margin-top: rem(40);
  font-size: rem(52);
  text-align: center;
}

.description {
  color: $light-gray;
  margin-top: rem(24);
  font-size: rem(16);
  text-align: center;
}

.logo {
  width: rem(160);
  height: rem(160);
}

.ticket {
  width: rem(50);
  height: rem(50);
}

.buttonContainer {
  background-color: $light-blue;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.logout {
  margin: auto;
  width: 45%;
  height: rem(50);
}
